/* Signup.css */

body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1530092285049-1c42085fd395?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2hpdGUlMjBmbG93ZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80"); /* Update the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.center {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.signup-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%; /* Increase the width as needed */
  max-width: 600px; /* Adjust this value based on your preference */
  transition: transform 0.3s;
  margin: 0 auto;
}

.signup-card:hover {
  transform: translateY(-5px);
}

.signup-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  margin-left: -10px;
}

.signup-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #0056b3;
}

.signin-link {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.signin-link:hover {
  text-decoration: underline;
}

.signup-heading {
  position: relative;
  text-align: center;
}
